rect.noteset-frame {
  fill-opacity: 0.25;
  fill: magenta;
}
*.hidden {
  display: none;
}
rect.id-text {
  fill: yellow;
}
text.id-text {
  font-family: Sans;
  font-size: 50;
  fill: red;
}
rect {
  stroke: red;
  stroke-opacity: 0.75;
  /* fill: magenta; */
  /* fill-opacity: 0.2; */
  fill: white;
  fill-opacity: 0.8;
}
rect.none {
  stroke: none;
  fill: none;
}
rect.page-number {
  fill-opacity: 0.2;
  stroke-opacity: 0.75;
  fill: lightblue;
  stroke: blue;
}
rect.glyph {
  stroke: yellowgreen;
  stroke-opacity: 0.90;
  fill: yellowgreen;
  fill-opacity: 0.90;
  stroke-width: 1;
}
rect.vline {
  fill-opacity: 0.75;
  stroke-opacity: 0.75;
  fill: darkolivegreen;
  stroke: darkolivegreen;
}
rect.vline-bit {
  fill-opacity: 0.75;
  stroke-opacity: 0.75;
  fill: olivegreen;
  stroke: olivegreen;
}
rect.hline {
  fill-opacity: 0.75;
  stroke-opacity: 0.75;
  fill: khaki;
  stroke: khaki;
}
rect.incorrect {
  display: none;
}
rect.note {
  stroke: blue;
  stroke-width: 2pt;
  fill: lightblue;
  fill-opacity: 0.6;
}
rect.border {
  stroke: darkgreen;
  stroke-width: 2pt;
  fill: darkgreen;
  fill-opacity: 0.6;
}
line {
  stroke: red;
  stroke-width: 2pt;
}
line.hinge {
  stroke: magenta;
  stroke-width: 5pt;
}
